<div class="bg-black/50 fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg">
        <!-- Header Section -->
        <div class="flex items-center bg-red-500 text-white rounded-t-lg px-4 py-2">
            <fa-icon class="text-xl mr-2" [icon]="faDanger"></fa-icon>
            <h2 class="text-xl font-semibold uppercase" [translate]="'REMOVAL_CONFIRMATION_TITLE'"></h2>
        </div>

        <!-- Content Section -->
        <div class="mt-4 px-4">
            <p class="text-lg text-gray-700">
                {{ 'REMOVAL_CONFIRMATION_DESCRIPTION' | translate }}
                <strong class="text-black"> {{ itemToDelete }}</strong>
            </p>
            <p class="mt-2 text-md text-red-600 font-semibold">
                {{ "REMOVAL_CONFIRMATION_WARNING" | translate }}
            </p>
        </div>

        <!-- Actions Section -->
        <div class="mt-6 flex justify-end gap-4 px-4">
            <button 
                class="border border-primary text-primary px-4 py-2 rounded-md hover:bg-primary hover:text-white transition-all duration-300" 
                (click)="onCancel()">
                {{ 'CANCEL' | translate }}
            </button>
            <button 
                class="bg-red-600 text-white px-4 py-2 rounded-md hover:bg-red-700 transition-all duration-300" 
                (click)="onRemove()">
                {{ 'REMOVE' | translate }}
            </button>
        </div>
    </div>
</div>
