<div class="mt-4 my-10 bg-white w-90 rounded-xl px-4 flex justify-center items-center flex-col mx-auto p-8">
  <h2 class="text-2xl font-bold mb-4">{{ 'CONTACT_US' | translate }}</h2>
  <p>{{ 'CONTACT_DESCRIPTION' | translate }}</p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="p-8 shadow-xl">
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input matInput formControlName="name" required>
      @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
        <mat-error>
          {{ 'NAME_REQUIRED' | translate }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>{{ 'EMAIL' | translate }}</mat-label>
      <input matInput type="email" formControlName="email" required>
      @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
        <mat-error>
          {{ 'EMAIL_REQUIRED' | translate }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>{{ 'PHONE' | translate }}</mat-label>
      <input matInput type="tel" formControlName="phone">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>{{ 'MESSAGE' | translate }}</mat-label>
      <textarea matInput formControlName="content" rows="4" required></textarea>
      @if (contactForm.get('content')?.invalid && contactForm.get('content')?.touched) {
        <mat-error>
          {{ 'MESSAGE_REQUIRED' | translate }}
        </mat-error>
      }
    </mat-form-field>

    <button
      type="submit"
      [disabled]="contactForm.invalid"
      class="w-fit px-4 cursor-pointer bg-white border-[#AF4E64] border-2 text-[#AF4E64] font-bold py-2 rounded-sm hover:bg-[#AF4E64] hover:text-white transition duration-800"
      >
      {{ 'SEND_MESSAGE' | translate }}
    </button>
  </form>
</div>
