<div class="p-4 rounded mb-4 w-full  flex flex-col">
    <h2 class="font-semibold">Basic Information</h2>
    <div class="flex w-full flex-col gap-2">
      <div class="infos flex justify-between items-center w-full">
        <span>Firstname</span>
        <span class="strong text-2xl text-[#AF4E64]">John Doe</span>
      </div>

      <div class="infos flex justify-between items-center w-full">
        <span>Lastname</span>
        <span class="strong text-2xl text-[#AF4E64]">John Doe</span>
      </div>

      <div class="infos flex justify-between items-center w-full">
        <span>Birthdate</span>
        <span class="strong text-2xl text-[#AF4E64]">26th November 2024</span>
      </div>

      <div class="infos flex justify-between items-center w-full">
        <span>Phone</span>
        <span class="strong text-2xl text-[#AF4E64]">23761858890</span>
      </div>
    </div>
  </div>
  












<!-- <div class="bg-gray-300 p-4 rounded mb-4 w-full  flex flex-col">
    <h2 class="font-semibold">Basic Information</h2>
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Firstname">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Lastname">
      </mat-form-field>
      <fa-icon [icon]="faCoffe"></fa-icon>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Birthdate</mat-label>
        <input matInput type="date">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" placeholder="Phone number">
      </mat-form-field>
  
      <mat-checkbox class="col-span-2">Remote Allowed</mat-checkbox>
    </div>
  </div>
   -->