@if(isVisible) {
  <div class="fixed inset-0 bg-black py-4 bg-opacity-50 flex items-center justify-center z-50 h-screen">
    <div class="flex bg-white flex-col p-4 overflow-y-auto rounded-lg max-h-[95vh] w-full max-w-[98vw] md:max-w-[80vw]">
      <div class="w-full rounded-0 px-10 py-8">
        <h2>{{ isEditMode ? 'Edit Social' : 'Add Social' }}</h2>
        <p class="mb-4">Add a new social where we can find you on</p>
      
        <!-- Form starts here -->
        <form [formGroup]="socialForm" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <!-- Autocomplete input -->
            <div class="relative">
              <label>Platform Name</label>
              <input
                class="border p-2 w-full"
                type="text"
                formControlName="name"
                (input)="onPlatformInput($event)"
              />
              <!-- Suggestions dropdown -->
              <ul
                *ngIf="isSuggestionsVisible"
                class="absolute z-10 bg-white border rounded shadow-md mt-2 w-full"
              >
                <li
                  *ngFor="let suggestion of filteredSuggestions"
                  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  (click)="selectSuggestion(suggestion)"
                >
                  {{ suggestion.name }}
                </li>
              </ul>
            </div>
            <div>
              <label>URL</label>
              <input
                class="border p-2 w-full"
                type="url"
                formControlName="url"
              />
            </div>
            <div>
              <label>Description (Optional)</label>
              <textarea
                class="border p-2 w-full"
                formControlName="description"
              ></textarea>
            </div>
          </div>
      
          <div class="flex justify-end mt-6">
            <button
              type="button"
              class="bg-gray-200 px-4 py-2 mr-2 rounded"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="bg-red-500 text-white px-4 py-2 rounded"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
}
