<div class="flex flex-col w-full  h-full items-center">
    <p class="text-[#701C2F] text-2xl font-semibold">Acceuil Gozen</p>
    <div class="flex flex-wrap items-center justify-center pt-8 w-full gap-10">
        <div class="card w-full  bg-white shadow-xl hover:shadow-4xl flex flex-col md:flex-row justify-between items-center px-4 py-4 transition duration-800">
            <div class="flex flex-col items-center justify-center">
                <img src="images/task_management.png" class="max-w-md" alt="">
                <p class="text-2xl">Analyse de Cv</p>
                <p class="text-center align-center text-lg">
                    Utilisez les points aquis pour faire analyser votre cv par des experts.
                </p>
            </div>
            <button class="px-6 py-2 bg-[#AF4E64] text-white transition duration-800 hover:bg-[#701C2F]">{{"GERER_CVS" | translate}}</button>
        </div>
        <div class="card w-full  bg-white shadow-xl hover:shadow-4xl flex flex-col md:flex-row justify-between items-center px-4 py-4 transition duration-800">
            <div class="flex flex-col items-center justify-center">
                <img src="images/task_management.png" class="max-w-md" alt="">
                <p class="text-2xl">Analyse de Cv</p>
                <p class="text-center align-center text-lg">
                    Utilisez les points aquis pour faire analyser votre cv par des experts.
                </p>
            </div>
            <button class="px-6 py-2 bg-[#AF4E64] text-white transition duration-800 hover:bg-[#701C2F]">{{"GERER_CVS" | translate}}</button>
        </div>
        <div class="card w-full  bg-white shadow-xl hover:shadow-4xl flex flex-col md:flex-row justify-between items-center px-4 py-4 transition duration-800">
            <div class="flex flex-col items-center justify-center">
                <img src="images/task_management.png" class="max-w-md" alt="">
                <p class="text-2xl">Analyse de Cv</p>
                <p class="text-center align-center text-lg">
                    Utilisez les points aquis pour faire analyser votre cv par des experts.
                </p>
            </div>
            <button class="px-6 py-2 bg-[#AF4E64] text-white transition duration-800 hover:bg-[#701C2F]">{{"GERER_CVS" | translate}}</button>
        </div>
        <div class="card w-full  bg-white shadow-xl hover:shadow-4xl flex flex-col md:flex-row justify-between items-center px-4 py-4 transition duration-800">
            <div class="flex flex-col items-center justify-center">
                <img src="images/task_management.png" class="max-w-md" alt="">
                <p class="text-2xl">Analyse de Cv</p>
                <p class="text-center align-center text-lg">
                    Utilisez les points aquis pour faire analyser votre cv par des experts.
                </p>
            </div>
            <button class="px-6 py-2 bg-[#AF4E64] text-white transition duration-800 hover:bg-[#701C2F]">{{"GERER_CVS" | translate}}</button>
        </div>
      
    </div>
</div>