<div class="p-4 rounded mb-4 w-full  flex flex-col">
    <h2 class="font-semibold">{{"GENERAL_INFORMATIONS" | translate}}</h2>
    <div class="flex w-full flex-col gap-2">
      <div class="infos flex justify-between items-center w-full">
        <span class="strong text-2xl text-[#AF4E64]">Software developper</span>
      </div>

      <div class="infos flex justify-between items-center w-full">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor asperiores perspiciatis dolores iusto delectus, iure repudiandae totam placeat et incidunt doloremque architecto veniam quae eius. Quibusdam debitis laboriosam officiis odit excepturi. Voluptate ducimus dolorum aperiam?</span>
      </div>
    </div>
  </div>
  




