<div class="p-4 rounded mb-4">
    <div class="flex justify-between items-center">
      <h2 class="font-semibold">Education</h2>
      <button (click)="onAdd()">
        <fa-icon class="cursor-pointer" [icon]="faAdd"></fa-icon>
      </button>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64]  border-b-2 p-2">
      <div class="">
        <p>Baccalaureat</p>
        <p>Septembre 2014 - Juillet 2021 | GBHSG, Galim</p>
        <p>Secondary school diploma</p>
      </div>
      <div class="flex space-x-2 mt-2 actions">
        <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
        <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
      </div>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64]  border-b-2 p-2">
      <div class="">
        <p>Probatoire</p>
        <p>Septembre 2014 - Juillet 2021 | GBHSG, Galim</p>
        <p>Secondary school diploma</p>
      </div>
      <div class="flex space-x-2 mt-2 actions">
        <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
        <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
      </div>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64]  border-b-2 p-2">
      <div class="">
        <p>BEPC</p>
        <p>Septembre 2014 - Juillet 2021 | GBHSG, Galim</p>
        <p>Secondary school diploma</p>
      </div>
      <div class="flex space-x-2 mt-2 actions">
        <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
        <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
      </div>
    </div>
  </div>
  