<div class="mt-4">
  <!-- Main layout -->
  <div class="flex flex-col">
    <!-- Sidebar Navigation -->
    <nav class="flex w-full bg-white p-6 mt-4 shadow-custom lg:block">
      <ul class="w-full flex items-center space-x-4 justify-center"> 
        <li><a href="#" class="text-primary font-medium hover:underline">Dashboard</a></li>
        <li><a [routerLink]="['../offers']" class="text-gray-700 hover:text-primary" >Job Posts</a></li>
        <li><a [routerLink]="['../profile']" class="text-gray-700 hover:text-primary">Settings</a></li>
      </ul>
    </nav>

    <!-- Main Content -->
    <main class="flex-1 p-6">
      <h2 class="text-2xl font-bold text-darkShade">Candidates</h2>
      <!-- Applied Filters -->
      <div class="mb-2 flex flex-wrap gap-4">
        @for (filter of appliedFilters; track filter) {
          <div class="inline-flex items-center gap-2 bg-green-500/50 text-white px-3 py-1 rounded-full">
            <span>{{ filter.value }}</span>
            <button (click)="removeFilter(filter.category, filter.value)" class="text-red-500 font-bold">&times;</button>
          </div>
        }
      </div>

      <!-- Filters Panel -->
      <aside class="bg-white p-4 rounded-md shadow-custom mb-6 flex flex-wrap gap-4">
        <!-- Job Title -->
        <div>
          <label for="jobTitle" class="block text-sm font-medium text-gray-700">Job Title</label>
          <input
            id="jobTitle"
            (keydown)="handleKeydown($event, 'jobTitles')"
            type="text"
            placeholder="E.g., Software Engineer"
            class="mt-1 border border-mediumGray rounded-md px-2 py-1"
            />
        </div>

        <!-- Language -->
        <div>
          <label for="language" class="block text-sm font-medium text-gray-700">Language</label>
          <input
            id="language"
            (keydown)="handleKeydown($event, 'languages')"
            type="text"
            placeholder="E.g., English, French"
            class="mt-1 border border-mediumGray rounded-md px-2 py-1"
            />
        </div>

        <!-- Skills -->
        <div>
          <label for="skill" class="block text-sm font-medium text-gray-700">Skill</label>
          <input
            id="skill"
            (keydown)="handleKeydown($event, 'skills')"
            type="text"
            placeholder="E.g., HTML, Python"
            class="mt-1 border border-mediumGray rounded-md px-2 py-1"
            />
        </div>

        <!-- Apply Filter Button -->
        <div class="mt-2">
          <button
            (click)="clearFilters()"
            class="bg-primary text-white px-4 py-2 rounded hover:bg-primaryDark transition"
            >
            Clear filters
          </button>
        </div>
      </aside>

      <!-- CV Grid -->
      <div class="flex justify-end mb-4">
        <button
          class="p-2 text-darkShade hover:bg-lightGray rounded transition duration-200"
          (click)="toggleLayout()">
          <fa-icon
            [icon]="layoutStyle === 'grid' ? faBars : faTh"
            class="text-lg">
          </fa-icon>
        </button>
      </div>
      @if(errorMessage) {<div class="text-red-500">{{errorMessage}}</div>}
      @if (filteredCvList.length > 0) {
        @if(layoutStyle === 'grid') {
          <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            @for(applicant of filteredCvList; track applicant.id) {
              <div
                class="bg-white p-4 rounded-md shadow-custom hover:shadow-lg transition"
                >
                <app-cv-item [layoutStyle]="layoutStyle" [cvInfos]="applicant"></app-cv-item>
              </div>
            }
          </div>
          }@else {
          <div class="w-full">
            <table class="min-w-full table-auto">
              <thead class="bg-gray-200">
                <tr>
                  <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md cursor-pointer">Job Title</th>
                  <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md cursor-pointer">Company</th>
                  <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md cursor-pointer">Location</th>
                  <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md cursor-pointer" >Salary</th>
                  <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">Status</th>
                  <th class="text-[12px] uppercase tracking-wide font-medium text-gray-400 py-2 px-4 bg-gray-50 text-left rounded-tl-md rounded-bl-md">Actions</th>
                </tr>
              </thead>
              <tbody>
                @for(applicant of filteredCvList; track applicant.id){
                  <tr class="bg-red-800">
                    <app-cv-item [layoutStyle]="layoutStyle"  [cvInfos]="applicant"></app-cv-item>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      } @else {
        <p class="text-center text-gray-500">No results match the selected criteria.</p>
      }
    </main>
  </div>
</div>