<div class="flex justify-center items-center h-screen bg-lightGray">
  <div class="bg-white p-8 shadow-lg rounded-lg w-full max-w-lg">
    <!-- Logo Section -->
    <div class="flex justify-center mb-6">
      <img src="logos/gozen-services.jpg" alt="Logo" class="h-20">
    </div>

    <p class="text-xl font-bold text-center mb-6 text-primary">Reset Your Password</p>
    <p class="text-sm text-slate-500 text-center">Fill the token you received via mail and enter your new password !</p>
    <form [formGroup]="confirmForm" (ngSubmit)="confirmPasswordReset()" class="space-y-4">
      <!-- Token -->
      <div>
        <label for="token" class="block  text-gray-900">Reset Token</label>
        <input
          id="token"
          formControlName="token"
          type="text"
          class="w-full mt-1 px-4 py-2 border rounded-md"
          [class.border-red-500]="confirmForm.get('token')?.invalid && confirmForm.get('token')?.touched"
          />
        @if (confirmForm.get('token')?.invalid && confirmForm.get('token')?.touched) {
          <p class="text-red-500 text-sm">
            Token is required.
          </p>
        }
      </div>

      <!-- New Password -->
      <div>
        <label for="newPassword" class="flex w-full items-center justify-between pr-4 text-gray-900">
          New Password
          <button type="button" (click)="togglePasswordVisibility()" class="text-gray-700 hover:text-gray-900">
            <fa-icon
              [icon]="passwordVisibility ? faEye : faEyeSlash"
            ></fa-icon>
          </button>
        </label>
        <input
          id="newPassword"
          formControlName="newPassword"
          [type]="passwordVisibility ? 'text' : 'password'"
          class="w-full mt-1 px-4 py-2 border rounded-md"
          [class.border-red-500]="confirmForm.get('newPassword')?.invalid && confirmForm.get('newPassword')?.touched"
          />
        @if (confirmForm.get('newPassword')?.invalid && confirmForm.get('newPassword')?.touched) {
          <p class="text-red-500 text-sm">
            Password must be at least 8 characters long.
          </p>
        }
      </div>

      <!-- Confirm Password -->
      <div>
        <label for="confirmPassword" class="block text-gray-900">Confirm Password</label>
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          [type]="passwordVisibility ? 'text' : 'password'"
          class="w-full mt-1 px-4 py-2 border rounded-md"
          [class.border-red-500]="
            (confirmForm.get('confirmPassword')?.invalid && confirmForm.get('confirmPassword')?.touched) ||
            confirmForm.errors?.['passwordsMismatch']
          "
          />
        @if (confirmForm.get('confirmPassword')?.invalid && confirmForm.get('confirmPassword')?.touched) {
          <p class="text-red-500 text-sm">
            Please confirm your password.
          </p>
        }
        @if (confirmForm.errors?.['passwordsMismatch']) {
          <p class="text-red-500 text-sm">
            Passwords do not match.
          </p>
        }
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="isSubmitting"
        class="w-full py-2 bg-primary text-white font-bold rounded-md hover:bg-darkShade disabled:opacity-50"
        >
        Reset Password
        @if (isSubmitting) {
          <span class="ml-2 loader"></span>
        }
      </button>
    </form>

    @if (message) {
      <p class="text-green-500 mt-4">{{ message }}</p>
    }
    @if (error) {
      <p class="text-red-500 mt-4">{{ error }}</p>
    }
  </div>
</div>
