<div class="flex flex-col items-center min-h-screen rounded-2xl bg-white my-2">
  <div class="flex flex-col align-center w-full p-8 bg-primary">
    <h2 class="text-4xl text-center text-white">{{ 'OFFERED_SERVICE' | translate }}</h2>
    <p class="text-center text-white">{{ 'ADVANTAGES_DESCRIPTION' | translate }}</p>
  </div>

  <section class="as-company pt-4 px-4 flex flex-col justify-center items-center md:flex-row w-full h-fit mt-2 bg-opacity-60 bg-primary rounded-2xl">
    <img src="images/people_in_business_clothes.png" alt="{{ 'IMAGE_ALT_COMPANY' | translate }}" class="w-full max-w-xs md:max-w-sm h-auto">
    <div class="flex flex-col">
      <h3 class="text-2xl font-bold text-center text-white">{{ 'AS_A_COMPANY' | translate }}</h3>
      <ul class="mt-4">
        @for (advantage of companiesAdvantages; track advantage; let index = $index) {
          <li class="flex items-start mb-2">
            <span class="text-lg font-semibold text-white mr-4">{{index + 1}}.</span>
            <div>
              <p class="text-md font-bold text-white">{{advantage.title | translate}}</p>
              <p class="text-slate-900">{{advantage.description | translate}}</p>
            </div>
          </li>
        }
      </ul>
      <a [routerLink]="['/auth/login']"  class="w-fit px-6 py-2 bg-white text-[#AF4E64] transition duration-800 hover:text-white hover:bg-[#701C2F]">{{ 'START_NOW' | translate }}</a>
    </div>
  </section>

  <div></div>

  <section class="as-jobseeker pt-4 px-4 flex flex-col md:flex-row-reverse justify-center items-center  w-full h-fit mt-2 bg-opacity-60 bg-primary rounded-2xl">
    <img src="images/job_seeker.png" alt="{{ 'IMAGE_ALT_JOBSEEKER' | translate }}" class="w-full max-w-xs md:max-w-sm h-auto">
    <div class="flex flex-col">
      <h3 class="text-2xl font-bold text-center text-white">{{ 'AS_A_JOBSEEKER' | translate }}</h3>
      <p class="text-center">{{ 'WHAT_JOBSEEKER' | translate }}</p>
      <ul class="mt-4">
        @for (advantage of jobSeekersAdvantages; track advantage; let index = $index) {
          <li class="flex items-start mb-2">
            <span class="text-lg font-semibold text-white mr-4">{{index + 1}}.</span>
            <div>
              <p class="text-md font-bold text-white">{{advantage.title | translate}}</p>
              <p class="text-slate-800">{{advantage.description | translate}}</p>
            </div>
          </li>
        }
      </ul>
      <a class="w-fit px-6 py-2 bg-white text-[#AF4E64] transition duration-800 hover:text-white hover:bg-[#701C2F]">{{ 'START_NOW' | translate }}</a>
    </div>
  </section>
</div>
