<div id="#services" class="flex flex-col items-center min-h-screen">
   <div class="flex flex-col align-center w-full p-8 shadow-xl">
        <h2 class="text-4xl text-center">OFFERED SERVICE</h2>
        <p class="text-center">Look at the advantages of being on the gozemServices Cvtheque</p>
   </div>
    <section class="as-company  py-6 flex flex-col md:flex-row w-full h-fit mt-2 bg-[#F1A7B8] bg-opacity-60">
        <div class="flex flex-col md:flex-row w-full justify-center items-center gap-8">
            <img src="images/people_in_business_clothes.png" alt="" class="w-full max-w-lg h-auto">
            <div class="flex flex-col">
                <h3 class="text-2xl font-bold text-center text-white ">AS A COMPANY</h3>
                <p class="text-center">What </p>
                <ul class="mt-4">
                    <li class="flex items-start mb-2" *ngFor="let advantage of companiesAdvantages; let index=index">
                        <span class="text-lg font-semibold text-gray-700 mr-4">{{index + 1}}.</span>
                        <div>
                            <h3 class="text-xl font-bold text-gray-800">{{advantage.title}}</h3>
                            <p class="text-gray-600">{{advantage.description}}</p>
                        </div>
                    </li>
                </ul>
                <button class="w-fit px-6 py-2 bg-white text-[#AF4E64] transition duration-800 hover:text-white hover:bg-[#701C2F]">{{"START_NOW" | translate}}</button>
            </div>

        </div>
    </section>
    <div></div>
    <section class="as-jobseeker flex flex-col md:flex-row w-full h-fit">
        <div class="flex flex-col pt-6  md:flex-row-reverse w-full justify-center items-center gap-8 bg-gradient-to-r from-[#F1A7B8] via-[#F1A7B8] to-[#F1A7B8]">
            <img src="images/job_seeker.png" alt="" class="w-full max-w-lg h-auto">
            <div class="flex flex-col">
                <h3 class="text-2xl font-bold text-center text-white ">AS A JOBSEEKER</h3>
                <p class="text-center">What </p>
                <ul class="mt-4">
                    <li class="flex items-start mb-2" *ngFor="let advantage of jobSeekersAdvantages; let index=index">
                        <span class="text-lg font-semibold text-gray-700 mr-4">{{index + 1}}.</span>
                        <div>
                            <h3 class="text-xl font-bold text-gray-800">{{advantage.title}}</h3>
                            <p class="text-gray-600">{{advantage.description}}</p>
                        </div>
                    </li>
                </ul>
                <button class="w-fit px-6 py-2 bg-white text-[#AF4E64] transition duration-800 hover:text-white hover:bg-[#701C2F]">{{"START_NOW" | translate}}</button>
            </div>
        </div>
    </section>
</div>
