<div class="p-4 rounded mb-4">
    <div class="flex justify-between items-center">
      <h2 class="font-semibold">Socials</h2>
      <button>
        <fa-icon class="cursor-pointer" (click)="onAdd()" [icon]="faAdd"></fa-icon>
      </button>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
        <p class="flex gap-2">
            <span> Facebook</span>
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faFacebook"></fa-icon>
         </p>
        <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
        </div>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
        <p class="flex gap-2">
           <span> Twitter</span>
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTwitter"></fa-icon>
        </p>
        <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
        </div>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
        <p class="flex gap-2">
            <span> Github</span>
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faGithub"></fa-icon>
        </p>
        <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
        </div>
    </div>
  </div>