@if(isEditVisible){
  <app-edit-social
    [isVisible]="isEditVisible"
    [isEditMode]="isEditMode"
    (educationUpdated)="getSocialsList()"
    (closeModal)="onModalClose()"
    [selectedSocial]="selectedSocial"
    >
  </app-edit-social>
}

@if (isConfirmationModalOpened) {
  <div class="fixed w-full h-full top-0 left-0 z-50 bg-gray-800 bg-opacity-50 flex pt-[80px] items-start justify-center">
    <div class="h-screen w-screen flex items-start justify-center">
      <div class="flex bg-white flex-col p-4 overflow-y-auto rounded-lg max-h-[95vh] w-full max-w-[70vw] md:max-w-[50vw]">
        <h2  class="text-4xl w-full bg-red-500 uppercase text-white">
          <fa-icon class="text-white" [icon]="faDanger"></fa-icon>
          <span class="text-white ml-2" [translate]="'DELETE'"></span>
        </h2>
        <div>
          <p class="text-lg">
            {{ 'CONFIRM_REMOVE_ITEM' | translate}}
          </p>
          <p class="text-xl text-[#ff5733]" [translate]="'IRREVERSIBLE_SIMPLE'"></p>
        </div>
        <div>
          <button (click)="effectiveDeleteSocial(false)" class="bg-none border-2 border-primary text-primary mx-2 px-4 py-2 hover:border-2 hover:bg-primary hover:text-white transition duration-700">
            {{ 'CANCEL' | translate }}
          </button>
          <button (click)="effectiveDeleteSocial(true)"  class="bg-green-800 mx-2 px-4 py-2 text-white hover:bg-green-900 transition duration-700">
            {{ 'REMOVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
}
<div class="p-4 rounded mb-4">
  <div class="flex justify-between items-center">
    <h3 class="font-semibold text-2xl capitalize text-slate-800">Social networks</h3>
    <button (click)="addSocial()" class="text-lg w-8 h-8 bg-green-600 text-white rounded-full hover:bg-green-900 hover:scale-105 transition-all duration-500 cursor-pointer">
      <fa-icon  [icon]="faAdd"></fa-icon>
    </button>
  </div>
  @if(loading){
    <div class="top-0 left-0 z-50 bg-opacity-50 flex justify-center items-center">
      <div class="w-16 h-16 border-4 border-t-4 border-gray-200 border-solid rounded-full animate-spin border-t-blue-500"></div>
    </div>
    }@else {
    @if(this.socialList.length == 0){
      <div class="text-md">Found 0 social entry ! <strong>click on the + to add some </strong> </div>
      }@else {
      @for(socialItem of socialList; track socialItem.id){
        <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
          <a target="_blank" [href]="socialItem.url" class="flex gap-2 cursor-pointer">
            <span> {{socialItem.name}}</span>                    <!-- <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faFacebook"></fa-icon> -->
          </a>
          <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" (click)="deleteSocial(socialItem.id)" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" (click)="editSocial(socialItem)" [icon]="faEdit"></fa-icon>
          </div>
        </div>
      }
    }
  }
  <!-- <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
  <p class="flex gap-2">
    <span> Facebook</span>
    <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faFacebook"></fa-icon>
  </p>
  <div class="flex space-x-2 mt-2 actions">
    <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
    <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
  </div>
</div>
<div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
  <p class="flex gap-2">
    <span> Twitter</span>
    <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTwitter"></fa-icon>
  </p>
  <div class="flex space-x-2 mt-2 actions">
    <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
    <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
  </div>
</div>
<div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
  <p class="flex gap-2">
    <span> Github</span>
    <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faGithub"></fa-icon>
  </p>
  <div class="flex space-x-2 mt-2 actions">
    <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
    <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
  </div>
</div>
</div> -->