
@if(loading) {
  <div class="absolute w-screen h-screen top-0 left-0 z-50 bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="w-16 h-16 border-4 border-t-4 border-gray-200 border-solid rounded-full animate-spin border-t-blue-500"></div>
  </div>
}
@if(!loading){
  @if(jobs.length === 0 ){
    <div>No job found</div>
  }
  <div class="flex flex-wrap gap-4 mb-6">
    <!-- Search -->
    <input
      type="text"
      class="w-full md:w-1/2 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200"
      placeholder="Search by job title..."
      [(ngModel)]="searchQuery"
      (input)="filterJobs()"
      />

    <!-- Status Filter -->
    <!-- <select
      class="w-full md:w-1/4 border border-gray-300 rounded-lg p-2 focus:ring focus:ring-blue-200"
      [(ngModel)]="selectedStatus"
      (change)="filterProposals()"
      >
      <option value="">All Statuses</option>
      <option value="pending">Pending</option>
      <option value="accepted">Accepted</option>
      <option value="rejected">Refused</option>
    </select> -->
  </div>
  <div [ngClass]="{'list': layout === 'list', 'grid': layout === 'grid'}" class="job-list-container w-full">
    @for (job of filteredJobs; track job) {
      <div class="job-item bg-white border border-gray-300 rounded-lg p-4 w-full shadow-xl flex flex-col">
        <!-- Job Details -->
        <div class="">
          <p class="px-4 w-fit text-start  align-start rounded-full {{ job.type === 'permanent' ? 'bg-orange-500' : 'bg-green-500' }} text-white">{{job.type}} </p>
          <h3 class="text-md !text-[28px] font-bolder text-[#002133]">{{ job.title }}</h3>
          <div class="job-description break-words text-gray-700">
            {{job.description}}
            <button (click)="goToJobDetails(job)" class="text-bold block text-blue-500">view Job</button>
          </div>
        </div>
        <div>
          <p class="text-sm text-gray-600 flex items-center">
            <fa-icon [icon]="faLocationPin" class="text-gray-500 mr-1"></fa-icon>{{ job.location }}
            <span class="mx-2">|</span>
            <span>{{ job.salary}}</span>
          </p>
        </div>
        <!-- Posting time and Actions -->
        <div class="actions flex items-center space-x-4">
          <span class="posted-time bg-green-100 text-green-700 text-xs font-semibold px-2 py-1 rounded">Posted {{ job.createdAt | timeAgo}}</span>
          <button (click)="openApplyDialog(job.id)" class="apply-button bg-primary text-white px-4 py-2 rounded-lg">Apply</button>
        </div>
        <app-share-item  [content]="{ link: JOB_URL+'/'+job.id, title: job.title, description: job.description }"></app-share-item>
      </div>
    }
  </div>

}