<div class="fixed top-0 sm:top-20 z-50 w-full">
    <app-header></app-header>
</div>
<div id="home">
  <app-home></app-home>
</div>
<div id="cvs">
  <app-latest-cv></app-latest-cv>
</div>
<div id="services">
  <app-services></app-services>
</div>
<div id="contact">
  <app-contact-us></app-contact-us>
</div>


<footer class="bg-[#F1A7B8] text-white pt-8">
    <div class="container mx-auto flex flex-col md:flex-row text-white justify-between px-2">
      <!-- Content Section -->
      <div class="mb-8 md:mb-0">
        <h2 class="text-2xl font-bold">Cvtheque</h2>
        <p class="mt-2">Your one-stop solution for managing and sharing your CVs with ease.</p>
      </div>
  
      <!-- Company Block -->
      <div class="mb-8 md:mb-0">
        <h3 class="text-lg font-semibold">Company</h3>
        <ul class="mt-2">
          <li><a href="#" class="hover:underline">About Us</a></li>
          <li><a href="#" class="hover:underline">Our Services</a></li>
          <li><a href="#" class="hover:underline">Privacy Policy</a></li>
        </ul>
      </div>
  
      <!-- Fast Links -->
      <div class="mb-8 md:mb-0">
        <h3 class="text-lg font-semibold">Fast Links</h3>
        <ul class="mt-2">
          <li><a href="#" class="hover:underline">Home</a></li>
          <li><a href="#" class="hover:underline">Services</a></li>
          <li><a href="#" class="hover:underline">Contact</a></li>
        </ul>
      </div>
  
      <!-- Socials -->
      <div>
        <h3 class="text-lg font-semibold">Follow Us</h3>
        <div class="mt-2 flex space-x-4">
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="text-gray-400 hover:text-white">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  
    <!-- Copyright Section -->
    <div class="bg-[#823244] mt-8 py-4 text-center">
      <p class="text-sm">© 2024 Cvtheque. All rights reserved.</p>
    </div>
</footer>
  

