*{
    scroll-behavior: smooth;
}

.header {
    transition: all 0.3s ease;
  }
  
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white; /* or any other background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 50; /* Ensure it is above other content */
  }

  .footer-block h3{
    font-size: 22px;
  }
  .rounded-2xl {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .rounded-2xl.animate {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  
  .rounded-2xl.right {
    transform: translateY(20px) translateX(100%);
  }
  
  .rounded-2xl.right.animate {
    transform: translateY(0) translateX(0);
  }
  
  .rounded-2xl.left {
    transform: translateY(20px) translateX(-100%);
  }
  
  .rounded-2xl.left.animate {
    transform: translateY(0) translateX(0);
  }
  
  .rounded-2xl.bottom {
    transform: translateY(100%) translateX(0);
  }
  
  .rounded-2xl.bottom.animate {
    transform: translateY(0) translateX(0);
  }
  