<!-- <div class="fixed top-0  z-50 w-full bg-gray-800 py-4">
    <app-header></app-header>
</div>
<div  id="home">
  <app-home></app-home>
</div>
<div id="cvs">
  <app-latest-cv></app-latest-cv>
</div>
<div id="services">
  <app-services></app-services>
</div>
<div id="contact">
  <app-contact-us></app-contact-us>
</div> -->

<div class="sm:p-4">
  <div class="rounded-lg">
    <div [class.fixed-header]="isHeaderFixed" class="header z-50 w-full">
      <app-header></app-header>
    </div>
    <div class="sm:rounded-2xl" id="home">
      <app-home></app-home>
    </div>
    <div class="rounded-2xl" id="cvs">
      <app-latest-cv></app-latest-cv>
    </div>
    <div class="rounded-2xl" id="services">
      <app-services></app-services>
    </div>
    <div id="contact">
      <app-contact-us></app-contact-us>
    </div>
  
    <footer class="bg-primary text-white pt-8 footer-block">
      <div class="container mx-auto flex flex-col md:flex-row text-white justify-between px-2">
        <!-- Content Section -->
        <div class="mb-8 md:mb-0">
          <h2 class="text-2xl font-bold uppercase">cvtheque</h2>
          <p class="mt-2">Your one-stop solution for managing and sharing your CVs with ease.</p>
        </div>
    
        <!-- Company Block -->
        <div class="mb-8 md:mb-0">
          <h3 class="text-md font-semibold">Company</h3>
          <ul class="mt-2">
            <li><a href="#" class="hover:underline">About Us</a></li>
            <li><a href="#" class="hover:underline">Our Services</a></li>
            <li><a href="#" class="hover:underline">Privacy Policy</a></li>
          </ul>
        </div>
    
        <!-- Fast Links -->
        <div class="mb-8 md:mb-0">
          <h3 class="text-md font-semibold">Fast Links</h3>
          <ul class="mt-2">
            <li><a href="#" class="hover:underline">Home</a></li>
            <li><a href="#" class="hover:underline">Services</a></li>
            <li><a href="#" class="hover:underline">Contact</a></li>
          </ul>
        </div>
    
        <!-- Socials -->
        <div>
          <h3 class="text-md font-semibold">Follow Us</h3>
          <div class="mt-2 flex space-x-4">
            <a href="#" class="w-[45px] h-[45px] text-lg flex items-center justify-center rounded-full bg-darkShade hover:bg-gray-900 hover:text-white transition duration-700">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="#" class="w-[45px] h-[45px] text-lg flex items-center justify-center rounded-full bg-darkShade hover:bg-gray-900 hover:text-white transition duration-700">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="#" class="w-[45px] h-[45px] text-lg flex items-center justify-center rounded-full bg-darkShade hover:bg-gray-900 hover:text-white transition duration-700">
              <i class="fab fa-instagram"></i>
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="#" class="w-[45px] h-[45px] text-lg flex items-center justify-center rounded-full bg-darkShade hover:bg-gray-900 hover:text-white transition duration-700">
              <i class="fab fa-linkedin-in"></i>
              <fa-icon [icon]="faLinkedIn"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    
      <!-- Copyright Section -->
      <div class="bg-[#823244] mt-8 py-4 text-center">
        <p class="text-sm">© 2024 Cvtheque. All rights reserved.</p>
      </div>
  </footer>
  </div>
</div>

