/* app.component.scss */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7fafc;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
  }
  
  button {
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #3182ce;
  }
  
  /* Sidebar style for mobile */
  @media (max-width: 768px) {
    .sidebar {
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      height: 100vh;
      z-index: 10;
      display: block;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 1rem;
    }
  }
  
  /* Ensure the main content takes full height */
  html, body, .flex {
    height: 100%;
  }
  
  /* Grid settings */
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .language-dropdown {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .language-dropdown.show {
    opacity: 1;
    visibility: visible;
  }  