<main class="w-full min-h-screen bg-gray-200 flex flex-row-reverse z-0 relative shadow-xl">
  <!-- <div class="w-full h-full bg-black z-30 absolute top-0 left-0 bg-opacity-70 hidden" id="dark_overlay"></div> -->
  <app-sidebar
    (tabSelected)="onTabSelected($event)"
    [userType]="userType"
    [userInfos]="userInfos"
    >
  </app-sidebar>
  <section class="p-4 lg:mr-64 flex flex-col w-full">
    <header class="section-header  flex w-full justify-between flex-wrap items-center px-4 py-8 bg-lightGray rounded-xl shadow-lg shadow-gray-400">
      <div class="sample-infos w-full flex flex-wrap justify-between px-4 items-center">
        <div class="flex w-fit items-center gap-4 flex-wrap flex-1">
          <div class="date-display flex items-center gap-2">
            <fa-icon [icon]="faCalendar" class="text-blue-600"></fa-icon>
            <span class="text-lg font-bold italic text-gray-700">{{ currentDate | date: 'EEEE, d MMMM yyyy' }}</span>
          </div>
          <div class="welcome-message text-pink-600 flex items-center justify-center gap-2 bg-pink-200/60 px-4 py-2 rounded-full">
            <span class="font-bold text-sm uppercase">Hello, {{ userInfos?.username }}</span>
          </div>
          <!-- <div class="relative w-fit">
            <button
            class="toggle-btn text-gray-600 hover:text-blue-600"
            (click)="toggleProfileInfo()">
            <fa-icon [icon]="faChevronDown" [ngClass]="{ 'rotate-180': isProfileInfoVisible }"></fa-icon>
          </button>
          <div
                class="additional-info w-fit absolute top-4 z-50 flex-col gap-2 mt-4 bg-gray-100 p-4 rounded-lg shadow-inner transition-all duration-300"
                [ngClass]="{ 'hidden': !isProfileInfoVisible, 'flex': isProfileInfoVisible }"
                id="profile-info">
                <div>Recruiter Status: Active</div>
                <div>Job Posts: 15 active</div>
                <div>Applications: 120 received</div>
            </div>
          </div> -->
        </div>

        <!-- Right-side items: Notifications, Profile and Language Switcher -->
        <div class="flex flex-wrap items-center gap-4 my-2 sm:my-0">
          <a [routerLink]="['/user/recruiter/notifications']" class="cursor-pointer text-xl text-red-500 transition-all hover:scale-125 hover:rotate-12   hover:text-red-600 duration-300 ease-in-out">
            <fa-icon
              [icon]="faNotificationRing"
              (click)="goToNotifications()">
            </fa-icon>
          </a>
          <img [src]="profilePic" class="w-[50px] h-[50px] shadow-lg object-cover rounded-full" alt="User Profile Pic">
          <app-locale-switcher></app-locale-switcher>
        </div>
      </div>
    </header>

    <router-outlet></router-outlet>

    <section id="dashboard-content mt-40 w-full">
      <!-- <div class="main-content flex flex-col items-center w-full">
      <div class="font-semibold mt-10 text-3xl text-slate-600 text-center">{{"WELCOME_IN" | translate}} <span class="text-pink-600">{{"OF" | translate}} GozenServices</span></div>
      <div class="w-full" *ngIf="selectedTab === 'dashboard'">
        <app-dashboard></app-dashboard>
        <router-outlet></router-outlet>
      </div>
      <div class="w-full" *ngIf="selectedTab === 'dashboard'">
        <router-outlet></router-outlet>
      </div>

      <div class="w-full" *ngIf="selectedTab === 'profile'">
        <app-profile-management></app-profile-management>
      </div>
      <div class="w-full" *ngIf="selectedTab === 'offers'">
        <app-offers></app-offers>
      </div>
      <div class="w-full" *ngIf="selectedTab === 'candidatures'">
        <app-candidatures></app-candidatures>
      </div>
      <div class="w-full" *ngIf="selectedTab === 'paying_tools'">
        <app-paying-tools></app-paying-tools>
      </div>
      <div class="w-full" *ngIf="selectedTab === 'events'">
        <app-events></app-events>
      </div>
      <div class="w-full" *ngIf="selectedTab === 'candidates'">
        <app-candidates></app-candidates>
      </div>

    </div> -->
  </section>

</section>

</main>

