<div class="flex justify-center items-center h-screen bg-lightGray">
  <div class="bg-white p-8 shadow-lg rounded-lg w-full max-w-lg">
    <!-- Logo Section -->
    <div class="flex justify-center mb-6">
      <img src="logos/gozen-services.jpg" alt="Logo" class="h-20">
    </div>

    <p class="text-xl font-bold text-center text-primary">Request Password Reset</p>
    <p class="text-sm text-slate-500 text-center">If the email has an account on the platform, you'll receive a passord reset token</p>

    <form [formGroup]="resetForm" (ngSubmit)="requestPasswordReset()" class="space-y-4">
      <!-- Email Field -->
      <div>
        <label for="email" class="block text-gray-800">Email Address</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="w-full mt-1 px-4 py-2 border rounded-md"
          [class.border-red-500]="resetForm.get('email')?.invalid && resetForm.get('email')?.touched"
          />
        @if (resetForm.get('email')?.invalid && resetForm.get('email')?.touched) {
          <p class="text-red-500 text-sm">
            Invalid email address.
          </p>
        }
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="isSubmitting"
        class="w-full py-2 bg-primary text-white font-bold rounded-md hover:bg-darkShade disabled:opacity-50"
        >
        Send
        @if (isSubmitting) {
          <span class="ml-2 loader"></span>
        }
      </button>
    </form>

    @if (message) {
      <p class="text-green-500 mt-4">{{ message }}</p>
    }
    @if (error) {
      <p class="text-red-500 mt-4">{{ error }}</p>
    }
  </div>
</div>
