<div class="z-40 w-full shadow-xl">
    <app-header></app-header>
</div>
  <div class="flex min-h-screen flex-col lg:flex-row-reverse">
    <!-- Left Side -->
    <div class="pt-20 lg:pt-0 flex lg:flex lg:w-1/2 bg-gray-100 justify-center items-center relative">
      <img src="images/people_in_meeting.jpg" alt="" class="w-full h-full top-0 left-0 z-0 object-cover absolute">
      <div class="absolute inset-0 bg-gradient-to-t from-gray-900 to-black opacity-60"></div>
      <div class="text-center relative px-2">
        <h1 class="text-4xl font-bold text-white"><span class="text-2xl">Join Us at</span> Cvthèque <span class="text-2xl">from </span> GozemServices</h1>
        <p class="mt-4 text-lg text-gray-200">Create an account to get started.</p>
      </div>
    </div>
  
    <!-- Right Side (Signup Form) -->
    <div class="flex flex-col justify-center w-full px-8 py-12 lg:w-1/2 lg:px-10">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-primary">Sign up for your account</h2>
      </div>
  
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="space-y-6 shadow-xl p-8">
          <div>
            <label for="fullname" class="block text-sm font-medium text-gray-900">Full Name</label>
            <div class="mt-2">
              <input id="fullname" formControlName="fullname" type="text" required class="w-full rounded-sm border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
              <div *ngIf="formControls['fullname'].invalid && (formControls['fullname'].touched || formControls['fullname'].dirty)" class="text-red-500 text-sm">
                <div *ngIf="formControls['fullname'].errors?.['required']">Full name is required.</div>
              </div>
            </div>
          </div>
  
          <div>
            <label for="email" class="block text-sm font-medium text-gray-900">Email address</label>
            <div class="mt-2">
              <input id="email" formControlName="email" type="email" required class="w-full rounded-sm border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
              <div *ngIf="formControls['email'].invalid && (formControls['email'].touched || formControls['email'].dirty)" class="text-red-500 text-sm">
                <div *ngIf="formControls['email'].errors?.['required']">Email is required.</div>
                <div *ngIf="formControls['email'].errors?.['email']">Invalid email format.</div>
              </div>
            </div>
          </div>
  
          <div>
            <label for="phone" class="block text-sm font-medium text-gray-900">Phone Number</label>
            <div class="mt-2">
              <input id="phone" formControlName="phone" type="text" required class="w-full rounded-sm border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
              <div *ngIf="formControls['phone'].invalid && (formControls['phone'].touched || formControls['phone'].dirty)" class="text-red-500 text-sm">
                <div *ngIf="formControls['phone'].errors?.['required']">Phone number is required.</div>
                <div *ngIf="formControls['phone'].errors?.['pattern']">Phone number must be 10 digits.</div>
              </div>
            </div>
          </div>
  
          <div>
            <label for="password" class="block text-sm font-medium text-gray-900">Password</label>
            <div class="mt-2">
              <input id="password" formControlName="password" type="password" required class="block w-full rounded-sm border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
              <div *ngIf="formControls['password'].invalid && (formControls['password'].touched || formControls['password'].dirty)" class="text-red-500 text-sm">
                <div *ngIf="formControls['password'].errors?.['required']">Password is required.</div>
                <div *ngIf="formControls['password'].errors?.['minlength']">Password must be at least 6 characters long.</div>
              </div>
            </div>
          </div>
  
          <div>
            <label for="confirmPassword" class="block text-sm font-medium text-gray-900">Confirm Password</label>
            <div class="mt-2">
              <input id="confirmPassword" formControlName="confirmPassword" type="password" required class="block w-full rounded-sm border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
              <div *ngIf="signupForm.errors?.['mismatch'] && (formControls['confirmPassword'].touched || formControls['confirmPassword'].dirty)" class="text-red-500 text-sm">
                Passwords do not match.
              </div>
            </div>
          </div>
  
          <div>
            <button type="submit" [disabled]="loading || signupForm.invalid" class="px-6 py-2 bg-primary text-white transition duration-800 hover:bg-[#701C2F] cursor-pointer">
              <span *ngIf="loading">Loading...</span>
              <span *ngIf="!loading">Sign up</span>
            </button>
          </div>
  
          <div *ngIf="error" class="mt-4 text-red-500 text-center">
            {{ error }}
          </div>
        </form>
      </div>
    </div>
  </div>
  