<div class="z-40 w-full shadow-xl">
  <app-header></app-header>
</div>

<div class="flex min-h-screen w-full flex-col lg:flex-row-reverse">
  <!-- Left Side -->
  <div class="pt-20 lg:pt-0 flex lg:flex lg:w-1/2 bg-gray-100 justify-center items-center relative">
    <img src="images/people_in_meeting.jpg" alt="" class="w-full h-full top-0 left-0 z-0 object-cover absolute">
    <div class="absolute inset-0 bg-gradient-to-t from-gray-900 to-black opacity-60"></div>
    <div class="text-center relative px-2">
      <h1 class="text-4xl font-bold text-white"><span class="text-2xl">{{ 'JOIN_US_AT' | translate }}</span> Cvthèque <span class="text-2xl">{{ 'FROM' | translate }}</span> GozenServices</h1>
      <p class="mt-4 text-lg text-gray-200">{{ 'CREATE_ACCOUNT' | translate }}</p>
    </div>
  </div>

  <!-- Right Side (Signup Form) -->
  <div class="flex flex-col justify-center w-full px-8 py-12 lg:w-1/2 lg:px-10">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="logos/gozen-services.jpg" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-primary">{{ 'SIGNUP_ACCOUNT' | translate }}</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg p-2 shadow-xl">
      <form enctype="multipart/form-data" (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="grid grid-cols-1 sm:grid-cols-2 gap-6 p-8">

        <!-- First Name -->
        <div class="flex flex-col">
          <label for="name" class="text-sm font-medium text-gray-900">{{ signupForm.value.userType === 'user' ? 'FIRST_NAME' : 'COMPANY_NAME'  }}</label>
          <input id="name" formControlName="name" type="text" required class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
          @if (formControls['name'].invalid && (formControls['name'].touched || formControls['name'].dirty)) {
            <div class="text-red-500 text-sm">
              @if (formControls['name'].errors?.['required']) {
                <div>
                  {{ signupForm.value.userType === 'user' ? 'FIRST_NAME_REQUIRED' : 'COMPANY_NAME_REQUIRED' | translate }}
                </div>
              }
            </div>
          }
        </div>

        <!-- Last Name -->
        @if (signupForm.value.userType !== 'recruiter') {
          <div class="flex flex-col">
            <label for="surname" class="text-sm font-medium text-gray-900">{{ 'LAST_NAME' | translate }}</label>
            <input id="surname" formControlName="surname" type="text" required class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
            @if (formControls['surname'].invalid && (formControls['surname'].touched || formControls['surname'].dirty)) {
              <div class="text-red-500 text-sm">
                @if (formControls['surname'].errors?.['required']) {
                  <div>{{ 'LAST_NAME_REQUIRED' | translate }}</div>
                }
              </div>
            }
          </div>
        }

        <!-- Username -->
        <div class="flex flex-col">
          <label for="username" class="text-sm font-medium text-gray-900">{{ 'USERNAME' | translate }}</label>
          <input id="username" formControlName="username" type="text" required class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
          @if (formControls['username'].invalid && (formControls['username'].touched || formControls['username'].dirty)) {
            <div class="text-red-500 text-sm">
              @if (formControls['username'].errors?.['required']) {
                <div>{{ 'USERNAME_REQUIRED' | translate }}</div>
              }
            </div>
          }
        </div>

        <!-- Email -->
        <div class="flex flex-col">
          <label for="email" class="text-sm font-medium text-gray-900">{{ 'EMAIL_ADDRESS' | translate }}</label>
          <input id="email" formControlName="email" type="email" required class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
          @if (formControls['email'].invalid && (formControls['email'].touched || formControls['email'].dirty)) {
            <div class="text-red-500 text-sm">
              @if (formControls['email'].errors?.['required']) {
                <div>{{ 'EMAIL_REQUIRED' | translate }}</div>
              }
              @if (formControls['email'].errors?.['email']) {
                <div>{{ 'INVALID_EMAIL' | translate }}</div>
              }
            </div>
          }
        </div>

        <!-- Phone Number -->
        <div class="flex flex-col">
          <label for="phone" class="text-sm font-medium text-gray-900">{{ 'PHONE_NUMBER' | translate }}</label>
          <input id="phone" formControlName="phone" type="text" required class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
          @if (formControls['phone'].invalid && (formControls['phone'].touched || formControls['phone'].dirty)) {
            <div class="text-red-500 text-sm">
              @if (formControls['phone'].errors?.['required']) {
                <div>{{ 'PHONE_NUMBER_REQUIRED' | translate }}</div>
              }
              @if (formControls['phone'].errors?.['pattern']) {
                <div>{{ 'PHONE_NUMBER_PATTERN' | translate }}</div>
              }
            </div>
          }
        </div>

        <!-- Account Type -->
        <div class="flex flex-col sm:col-span-2">
          <label for="userType" class="text-sm font-medium text-gray-900">{{ 'ACCOUNT_TYPE' | translate }}</label>
          <select formControlName="userType" id="userType" class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
            <option value="user">{{ 'USER' | translate }}</option>
            <option value="recruiter">{{ 'RECRUITER' | translate }}</option>
          </select>
        </div>
        <!-- Optional fields for recruiters -->
        @if (signupForm.value.userType === 'recruiter') {
          <div class="sm:col-span-2">
            <div class="flex flex-col">
              <label for="sector" class="text-sm font-medium text-gray-900">Sector</label>
              <input id="sector" formControlName="sector" type="text" class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
              @if (formControls['sector'].invalid && (formControls['sector'].touched || formControls['sector'].dirty)) {
                <div class="text-red-500 text-sm">
                  @if (formControls['sector'].errors?.['required']) {
                    <div>Your compagny sector is required.</div>
                  }
                </div>
              }
            </div>
            <div class="flex flex-col  mt-2">
              <label for="activity" class="text-sm font-medium text-gray-900">Activity</label>
              <input id="activity" formControlName="activity" type="text" class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
              @if (formControls['activity'].invalid && (formControls['activity'].touched || formControls['activity'].dirty)) {
                <div class="text-red-500 text-sm">
                  @if (formControls['activity'].errors?.['activity']) {
                    <div>Your compagny activity is required.</div>
                  }
                </div>
              }
            </div>
          </div>
        }

        <!-- Profile Picture Upload (spans two columns) -->
        <div class="sm:col-span-2 flex flex-col items-center">
          <label for="profilePic" class="text-sm font-medium text-gray-900">Profile Picture</label>
          <div class="mt-2 relative">
            <input
              type="file"
              id="profilePic"
              (change)="onProfilePicChange($event)"
              class="p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm"
              accept="image/*"
              />
            @if (profilePicPreview) {
              <div class="mt-4 relative w-24 h-24 mx-auto">
                <img [src]="profilePicPreview" alt="Profile Picture" class="w-24 h-24 rounded-full object-cover">
                <button
                  type="button"
                  (click)="removeProfilePic()"
                  class="absolute top-0 right-0 bg-gray-600 text-white rounded-full p-1 text-xs hover:bg-red-600"
                  >
                  ✖
                </button>
              </div>
            }

          </div>
          @if (formControls['profilePic'].invalid && (formControls['profilePic'].touched || formControls['profilePic'].dirty)) {
            <div class="text-red-500 text-sm">
              @if (formControls['profilePic'].errors?.['required']) {
                <div>a profile picture is required.</div>
              }
            </div>
          }
        </div>

        <!-- Password -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-900">{{ 'PASSWORD' | translate }}</label>
          <div class="mt-2">
            <input id="password" formControlName="password" type="password" required class="block w-full rounded-sm border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm">
            @if (formControls['password'].invalid && (formControls['password'].touched || formControls['password'].dirty)) {
              <div class="text-red-500 text-sm">
                @if (formControls['password'].errors?.['required']) {
                  <div>{{ 'PASSWORD_REQUIRED' | translate }}</div>
                }
                @if (formControls['password'].errors?.['minlength']) {
                  <div>{{ 'PASSWORD_MIN_LENGTH' | translate }}</div>
                }
              </div>
            }
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="flex flex-col">
          <label for="confirmPassword" class="text-sm font-medium text-gray-900">{{ 'CONFIRM_PASSWORD' | translate }}</label>
          <input id="confirmPassword" formControlName="confirmPassword" type="password" required class="mt-2 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 rounded-sm focus:ring-2 focus:ring-indigo-600 sm:text-sm">
          @if (signupForm.errors?.['mismatch']) {
            <div class="text-red-500 text-sm">
              {{ 'PASSWORD_MISMATCH' | translate }}
            </div>
          }
        </div>

        @if (error && !loading) {
          <div class="sm:col-span-2 mt-4 text-red-500 text-center">{{ error }}</div>
        }

        <div class="sm:col-span-2">
          <button type="submit" class="w-full px-6 py-2 bg-primary text-white transition duration-800 hover:bg-[#701C2F] cursor-pointer">
            @if (loading) {
              <span>{{ 'LOADING' | translate }}</span>
            }
            @if (!loading) {
              <span>{{ 'SIGN_UP' | translate }}</span>
            }
          </button>
        </div>
      </form>

      <div class="flex items-center space-x-2 w-full">
        {{ 'ALREADY_HAVE_ACCOUNT' | translate }} <a [routerLink]="['/auth/login']" class="text-primary ml-1 hover:text-darkShade" routerLinkActive="router-link-active">{{ 'LOGIN_HERE' | translate }}</a>
      </div>
    </div>
  </div>
</div>
