@if(loading) {
  <div class="fixed w-screen h-screen top-0 left-0 z-50 bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="flex flex-col">
      <div class="text-2xl my-4 text-white"> Loading ...</div>
      <div class="w-16 h-16 border-4 border-t-4 border-gray-200 border-solid rounded-full animate-spin border-t-blue-500"></div>
    </div>
  </div>  
}

@if(!loading) {
  <div class="bg-gray-200">

    <!-- Hero Section -->
    <header class="bg-primary text-white">
      <div class="container mx-auto px-4 py-6 flex items-center justify-between">
        <!-- <h1 class="text-2xl font-bold">JobPortal</h1> -->
        <button (click)="goBack()"><fa-icon [icon]="faArrowLeft" class="font-bold text-xl"></fa-icon></button>
        <nav>
          <a href="/" class="text-white hover:text-gray-200 mx-3">Home</a>
          <a href="/jobs" class="text-white hover:text-gray-200 mx-3">Jobs</a>
          <a href="/about" class="text-white hover:text-gray-200 mx-3">About Us</a>
        </nav>
      </div>
    </header>
    <div class="bg-white rounded-lg shadow-md p-6 container mx-auto px-4 py-8 my-4">
      <div class="flex flex-wrap justify-between items-start">
        <div>
          <h2 class="text-2xl font-bold text-gray-800 mb-2">{{offer.title}}</h2>
          <p class="text-gray-500 text-lg mb-4">{{offer.location}}</p>
          <div class="flex items-center gap-4 flex-wrap  md:space-x-2">
            <span class="bg-blue-100 text-blue-600 px-3 py-1 rounded-full text-sm font-medium capitalize">{{ removeChar(offer.employmentType, '_',' ')}}</span>
            <span class="bg-green-100 text-green-600 px-3 py-1 rounded-full text-sm font-medium">{{offer.location}}</span>
            <span class="bg-yellow-100 text-yellow-600 px-3 py-1 rounded-full text-sm font-medium">{{offer.createdAt | timeAgo}}</span>
          </div>
          <app-share-item [content]="{ link: JOB_URL+'/'+offer.id, title: offer.title, description: offer.description }"></app-share-item>
        </div>
        <button (click)="openApplyDialog()" class="bg-primary mt-4 md:mt-0 text-white px-6 py-2 rounded-lg shadow-md hover:bg-darkShade">
          Apply Now
        </button>
      </div>
    </div>
  
  
    <!-- Main Content -->
    <main class="container mx-auto px-6 py-8">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- Job Details Section -->
        <div class="lg:col-span-2">
          <!-- Job Description -->
          <section class="bg-white shadow rounded-lg p-6 mb-6">
            <h2 class="text-xl font-semibold text-primary mb-4">Job Description</h2>
            <p class="text-gray-700 leading-relaxed mb-4 break-words">
              {{offer.description}}
            </p>
          </section>
  
          <!-- Responsibilities -->
          <section class="bg-white shadow rounded-lg p-6 mb-6">
            <h3 class="text-xl font-semibold text-primary mb-3">Responsibilities</h3>
            <ul class="list-disc pl-6 text-gray-700 space-y-2">
              @for(responsability of offer.responsibilities ; track $index) {
              <li>{{responsability}}</li>
              }
            </ul>
          </section>
  
          <!-- Qualifications -->
          <section class="bg-white shadow rounded-lg p-6 mb-6">
            <h3 class="text-xl font-semibold text-primary mb-3">Requirements</h3>
            <ul class="list-disc pl-6 text-gray-700 space-y-2">
              <li><strong class="text-xl">Education: </strong>{{offer.requirements?.education}}</li>
              <li><strong class="text-xl">Experience: </strong>{{offer.requirements?.experience}}</li>
              <li>
                <strong class="text-xl">Skills</strong>
                <ul class="list-disc pl-8 text-gray-700 space-y-2">
                  @for(skill of offer.requirements?.skills; track $index) {
                    <li>{{skill}}</li>
                  }
                </ul>
              </li>
            </ul>
          </section>
  
          <!-- Benefits -->
          <section class="bg-white shadow rounded-lg p-6">
            <h3 class="text-xl font-semibold text-primary mb-3">Benefits</h3>
            <ul class="list-disc pl-6 text-gray-700 space-y-2">
              @for(benefit of offer.benefits; track $index) {
                <li >{{benefit}}</li>
              }
            </ul>
          </section>
        </div>
  
        <!-- Sidebar -->
        <div class="bg-white shadow rounded-lg p-6">
          <h3 class="text-2xl font-semibold text-primary mb-4">Job Overview</h3>
          <ul class="text-gray-700 space-y-4">
            <li><strong>Company:</strong> {{offer.company}}</li>
            <li><strong>Deadline:</strong> {{offer.applicationDeadline}}</li>
            <li><strong>Location:</strong> {{offer.location}}</li>
            <li><strong>Job Type:</strong> {{ removeChar(offer.employmentType, '_',' ')}}</li>
            <li><strong>Location:</strong> {{offer.workLocation}}</li>
            <li><strong>Salary:</strong> {{offer.salary}}/year</li>
            <li><strong>Posted:</strong> {{offer.createdAt | timeAgo}}</li>
          </ul>
  
          <h3 class="text-xl font-semibold text-primary mt-8 mb-4">Contact Information</h3>
          <p class="text-gray-700">
            Email: <a [href]="'mailto:'+offer.contactEmail" class="text-primary hover:underline">{{offer.contactEmail}}</a>
          </p>
          <p class="text-gray-700">Phone: {{offer?.employer.phone}}</p>
  
          <button (click)="openApplyDialog()" class="w-full bg-primary text-white mt-6 py-2 rounded-lg shadow hover:bg-darkShade">
            Apply Now
          </button>
        </div>
      </div>
  
      <!-- Related Jobs Section -->
      <section class="mt-12">
        <h3 class="text-2xl font-semibold text-primary mb-6">Related Jobs</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <div class="bg-white shadow rounded-lg p-4">
            <h4 class="text-lg font-bold text-primary mb-2">Backend Developer</h4>
            <p class="text-gray-700 mb-4">Amazon - Seattle, WA</p>
            <a href="/jobs/1" class="text-primary hover:underline">View Details</a>
          </div>
          <div class="bg-white shadow rounded-lg p-4">
            <h4 class="text-lg font-bold text-primary mb-2">UX Designer</h4>
            <p class="text-gray-700 mb-4">Meta - Menlo Park, CA</p>
            <a href="/jobs/2" class="text-primary hover:underline">View Details</a>
          </div>
          <div class="bg-white shadow rounded-lg p-4">
            <h4 class="text-lg font-bold text-primary mb-2">Data Scientist</h4>
            <p class="text-gray-700 mb-4">Microsoft - Redmond, WA</p>
            <a href="/jobs/3" class="text-primary hover:underline">View Details</a>
          </div>
        </div>
      </section>
    </main>
  
  </div>
}