<app-edit-interests
  [isVisible]="isAddModalVisible"
  [isEditMode]="false"
  (closeModal)="onModalClose()"></app-edit-interests>
<div class="p-4 rounded mb-4">
    <div class="flex justify-between items-center">
      <h2 class="font-semibold">Interests</h2>
      <button>
        <fa-icon class="cursor-pointer" [icon]="faAdd" (click)="onAdd()"></fa-icon>
      </button>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
        <p>Reading</p>
        <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
        </div>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
        <p>3D Modelisation</p>
        <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
        </div>
    </div>
    <div class="mt-2 border-2 border-b-[#AF4E64] flex justify-between  border-b-2 p-2">
        <p>Writing</p>
        <div class="flex space-x-2 mt-2 actions">
            <fa-icon class="text-[#AF4E64] cursor-pointer" [icon]="faTrash"></fa-icon>
            <fa-icon class="text-green-400 cursor-pointer" [icon]="faEdit"></fa-icon>
        </div>
    </div>
  </div>
  