@if(loading) {
  <div class="absolute w-screen h-screen top-0 left-0 z-50 bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="w-16 h-16 border-4 border-t-4 border-gray-200 border-solid rounded-full animate-spin border-t-blue-500"></div>
  </div>
}

<div class="mt-8 px-4 relative">
  <!-- Candidatures Header -->
  <h2 class="text-darkShade text-2xl font-bold mb-4">Shortlisted Candidates</h2>
  <p class="text-mediumGray">Candidates for your job offers</p>

  <!-- Filters -->
  <div class="flex items-center gap-4 my-6 flex-wrap">
    <!-- Search Input -->
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="applyFilters()"
      class="border border-gray-300 rounded-md px-4 py-2 w-full md:w-1/3 focus:ring focus:ring-primary focus:outline-none"
      placeholder="Search by name or job title"
      />
    <!-- Status Dropdown -->
    <select
      [(ngModel)]="statusFilter"
      (change)="applyFilters()"
      class="border border-gray-300 rounded-md px-4 py-2 focus:ring focus:ring-primary focus:outline-none"
      >
      <option value="all">All Statuses</option>
      @for(applicationStatus of applicationStatusList; track applicationStatus) {
        <option [value]="applicationStatus">{{ applicationStatus }}</option>
      }
    </select>
  </div>
  <div class="min-w-1/3  flex items-end justify-end w-full">
    <button (click)="exportApplicationsToCsv()" class="bg-green-600 cursor-pointer text-white px-4 py-2 rounded hover:bg-green-700">
      <fa-icon [icon]="faDownload"></fa-icon>
      Download csv
    </button>
  </div>


  <!-- Candidatures Table -->
  <div class="overflow-x-auto z-10">
    <table class="min-w-full bg-white shadow-md rounded-lg">
      <thead>
        <tr class="bg-lightGray text-left text-darkShade">
          <th class="p-4 font-medium border-b">Name</th>
          <th class="p-4 font-medium border-b">Job Title</th>
          <th class="p-4 font-medium border-b">Status</th>
          <th class="p-4 font-medium border-b">Actions</th>
        </tr>
      </thead>
      @if (!loading && filteredCandidatures.length > 0) {
        <tbody
          >
          @for (candidature of filteredCandidatures; track candidature) {
            <tr
              class="border-b hover:bg-gray-50"
              >
              <td class="p-4">{{ candidature.jobSeekerName }}</td>
              <td class="p-4">{{ candidature.jobOfferTitle }}</td>
              <td class="p-4">
                <span
                  class="py-1 px-2 rounded text-sm capitalize"
              [ngClass]="{
                'bg-gray-200 text-gray-700': candidature.status === 'pending',
                'bg-blue-200 text-blue-700': candidature.status === 'interview',
                'bg-green-200 text-green-700': candidature.status === 'hired',
                'bg-red-200 text-red-700': candidature.status === 'rejected'
              }"
                  >
                  {{ candidature.status }}
                </span>
              </td>
              <td class="p-4">
                <!-- Action Dropdown -->
                <button
                  (click)="toggleActions(candidature.id)"
                  class="text-gray-500 hover:text-gray-700"
                  >
                  <fa-icon [icon]="faEllipsisH" class="w-5 h-5"></fa-icon>
                </button>
                <!-- Dropdown Actions -->
                @if (openActionId === candidature.id) {
                  <div class="absolute text-slate-700 z-50 bg-white shadow-lg rounded-md mt-2 right-0 w-fit">
                    <!-- <button
                    class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                    (click)="viewDetails(candidature)"
                  >
                      <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
                      View Details
                    </button> -->
                    @if(candidature.status === JobApplicationStatus.DOCUMENTS_SUBMITTED){
                      <button
                      class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                      (click)="downloadCandidatureFolder(candidature)"
                    >
                      <fa-icon [icon]="faDownload" class="mr-2"></fa-icon>
                      Download Candidatures Folder
                    </button>
                    }
                    
                    @if(candidature.status == JobApplicationStatus.INTERVIEW_SCHEDULED){
                      <button
                      class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                        (click)="editInterview(candidature)"
                      >
                        <fa-icon [icon]="faEdit" class="mr-2"></fa-icon>
                        Edit Interview
                      </button>
                    }
                  @if(candidature.status === JobApplicationStatus.INTERVIEW){
                    <button
                    class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                    (click)="noteInterview(candidature)"
                  >
                    <fa-icon [icon]="faComment" class="mr-2"></fa-icon>
                    Add a Note
                  </button>
                  }
                      <button
                      class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                      (click)="moveToInterview(candidature)"
                    >
                      <fa-icon [icon]="faArrowRight" class="mr-2"></fa-icon>
                      Move to Interview
                    </button>
                    <button
                      class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                      (click)="moveToPreInterview(candidature.id)"
                    >
                      <fa-icon [icon]="faArrowLeft" class="mr-2"></fa-icon>
                      Move to Preinterview
                    </button>
                  </div>
                  
                }
              </td>
            </tr>
          }
        </tbody>
      } @else {
        <p class="text-center mt-6 text-mediumGray">No candidates match your filters.</p>
      }
    </table>
  </div>
</div>
