<main class="w-full min-h-screen bg-gray-200 flex flex-row-reverse z-0 relative shadow-xl">
    <div class="w-full h-full bg-black z-30 absolute top-0 left-0 bg-opacity-70 hidden" id="dark_overlay"></div>
    <app-sidebar (tabSelected)="onTabSelected($event)"></app-sidebar>
    <section class="p-4 md:mr-64 flex flex-col w-full">
    <header class="section-header flex w-full justify-around items-center px-4 py-8 bg-lightGray rounded-xl shadow-lg shadow-gray-400">
            <button  id="menu-btn-side" class="absolute block z-40 bg-transparent border-none hamburger md:hidden focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
            <div class="sample-infos w-full flex justify-between px-4 items-center">
                <div class="date">Friday, 28th December 2024</div>
                <div class="availabilities  text-green-600  flex items-center justify-center gap-2 bg-green-200/60 px-2 py-2 rounded-full cursor-pointer">
                    <span class="block h-[15px] w-[15px] bg-green-600 rounded-full shadow-2xl"></span>
                    <span class="font-bold uppercase">Ready to interview</span>
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </div>
                <div class="flex items-center align-center justify-center gap-2">
                    <fa-icon [icon]="faNotificationRing"></fa-icon>
                    <!-- <p>Notifications</p> -->
                    <img src="images/man_on_computer.png" class="w-[40px] h-[40px] rounded-full" alt="user Profile pic">
                </div>
            </div>
        </header>
       
        <section id="dashboard-content mt-40 w-full">
            <div class="main-content flex flex-col items-center w-full">
                <div class="font-semibold mt-10 text-3xl text-slate-600 text-center">Bienvenu dans la Cvthèque <span class="text-pink-600">de GozemServices</span></div>
                <div *ngIf="selectedTab === 'dashboard'">
                    <app-dashboard></app-dashboard>
                </div>
                <div *ngIf="selectedTab === 'stats'">
                    <app-statistics></app-statistics>
                </div>
                <div class="w-full" *ngIf="selectedTab === 'cvs'">
                    <app-cv-builder></app-cv-builder>
                </div>
                <div class="w-full" *ngIf="selectedTab === 'paying_tools'">
                    <app-paying-tools></app-paying-tools>
                </div> 
                <div *ngIf="selectedTab === 'point_management'">
                    settings
                </div>
                <div class="w-full" *ngIf="selectedTab === 'jobs' ">
                    <app-jobs></app-jobs>
                </div>
            </div>
        </section>

    </section>

</main>

