@if(isVisible){
   <div class="fixed inset-0 bg-black py-4 bg-opacity-50 flex items-center justify-center z-50 h-screen">
    <div class="flex bg-white flex-col p-4 overflow-y-auto rounded-lg max-h-[95vh] w-full max-w-[98vw] md:max-w-[80vw]">
        <h2 class="text-xl font-semibold">{{ data ? 'EDIT' : 'ADD' | translate}} Job Offer</h2>
        <form [formGroup]="offerForm" class="space-y-4 h-full max-h-[90%] px-2 overflow-auto">
                <div>
                    <label class="block text-gray-700">Job Title</label>
                    <input formControlName="title" class="w-full px-4 py-2 border rounded-md focus:outline-none" type="text" placeholder="Job Title"/>
                    <div *ngIf="offerForm.get('title')?.invalid && offerForm.get('title')?.touched" class="text-sm text-red-500">
                    Job title is required.
                    </div>
                </div>    
                <div>
                    <label class="block text-gray-700">Location</label>
                    <input formControlName="location" class="w-full px-4 py-2 border rounded-md focus:outline-none" type="text" placeholder="Location"/>
                    <div *ngIf="offerForm.get('location')?.invalid && offerForm.get('location')?.touched" class="text-sm text-red-500">
                    Location is required.
                    </div>
                </div>
                <div>
                    <label class="block text-gray-700">Job type</label>
                    <select formControlName="type" class="appearance-none w-full px-4 py-2 border rounded-md focus:outline-none">
                        <option value="onsite" selected>Onsite</option>
                        <option value="remote">Remote</option>
                        <option value="full-remote">full-remote</option>
                    </select>
                    <!-- <input formControlName="type" class="w-full px-4 py-2 border rounded-md focus:outline-none" type="text" placeholder="Location"/> -->
                    <div *ngIf="offerForm.get('type')?.invalid && offerForm.get('type')?.touched" class="text-sm text-red-500">
                    job type is required.
                    </div>
                </div>
                <div>
                    <label class="block text-gray-700">Salary</label>
                    <input formControlName="salary" class="w-full px-4 py-2 border rounded-md focus:outline-none" type="number" placeholder="Salary"/>
                    <div *ngIf="offerForm.get('salary')?.invalid && offerForm.get('salary')?.touched" class="text-sm text-red-500">
                    Salary must be greater than 0.
                    </div>
                </div>
            <div>
                <label class="block text-gray-700">Description</label>
                <textarea formControlName="description" class="w-full px-4 py-2 border rounded-md focus:outline-none" placeholder="Job Description"></textarea>
                <div *ngIf="offerForm.get('description')?.invalid && offerForm.get('description')?.touched" class="text-sm text-red-500">
                Description is required.
                </div>
            </div>        
            <div>
                <label>
                <input formControlName="active" type="checkbox" class="mr-2" />
                Active Job Offer
                </label>
            </div>
            
            <div class="flex justify-end mt-6">
                <button (click)="closeDialog()" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 mr-4">Cancel</button>
                <button (click)="saveOffer()" [disabled]="offerForm.invalid" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                Save Offer
                </button>
            </div>
            
        </form>
    </div>
   </div>
}