<div class="flex bg-white flex-col p-4 rounded-lg max-h-[95vh] w-full max-w-[98vw] md:max-w-[80vw]">
  <h2 class="text-xl font-semibold">{{ isEditMode ? 'EDIT' : 'ADD' | translate }} Job Offer</h2>
  <form [formGroup]="offerForm" (submit)="onSubmit()" class="space-y-4 h-full overflow-auto max-h-[90%] px-2">
    <!-- Text Fields -->
    <div class="h-full max-h-[90%] overflow-auto">
      @for (field of ['title', 'description', 'location','salary', 'company', 'contactEmail']; track field; let i = $index) {
        <div>
          <label [for]="field" class="block text-gray-700">{{ field | translate }}</label>
          <input
            [formControlName]="field"
            [id]="field"
            [type]="field === 'contactEmail' ? 'email' : 'text'"
            class="w-full px-4 py-2 border rounded-md focus:outline-none"
            [placeholder]="field === 'salary' ? '15k-70k' : ''"
            />
          @if (offerForm.get(field)?.invalid && offerForm.get(field)?.touched) {
            <div class="text-sm text-red-500">
              {{ field | translate }} is required.
            </div>
          }
          @if (offerForm.get(field)?.errors?.['minlength']) {
            <span class="text-sm text-red-500">
              {{ field | translate }} must be at least {{ offerForm.get(field)?.errors?.['minlength'].requiredLength }} characters.
            </span>
          }
        </div>
      }

      <!-- Enums -->
      <div>
        <label for="status" class="block text-gray-700">Status</label>
        <select formControlName="status" class="w-full px-4 py-2 border rounded-md">
          @for (status of statuses; track status) {
            <option [value]="status">{{ status }}</option>
          }
        </select>
      </div>

      <div>
        <label for="workLocation" class="block text-gray-700">Work Location</label>
        <select formControlName="workLocation" class="w-full px-4 py-2 border rounded-md">
          @for (location of workLocations; track location) {
            <option [value]="location">{{ location }}</option>
          }
        </select>
      </div>

      <div>
        <label for="employmentType" class="block text-gray-700">Employment Type</label>
        <select formControlName="employmentType" class="w-full px-4 py-2 border rounded-md">
          @for (type of employmentTypes; track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>
      </div>

      <!-- Repeated Fields -->
      <div formArrayName="benefits">
        <label class="block text-gray-700">Benefits</label>
        @for (benefit of benefits.controls; track benefit; let i = $index) {
          <div class="flex items-center space-x-2">
            <input [formControlName]="i" class="w-full my-1 px-4 py-2 border rounded-md" />
            <button type="button" (click)="removeItem('benefits', i)" class="px-2 py-1 bg-red-500 text-white rounded">
              <fa-icon class="text-white" [icon]="faRemove"></fa-icon>
            </button>
          </div>
        }
        <button title="add benefit" type="button" (click)="addItem('benefits')" class="px-4 py-2 mt-2 bg-blue-500 text-white rounded">
          <fa-icon class="text-white" [icon]="faAdd"></fa-icon>
        </button>
      </div>

      <div formArrayName="responsibilities">
        <label class="block text-gray-700">Responsibilities</label>
        @for (responsibility of responsibilities.controls; track responsibility; let i = $index) {
          <div class="flex items-center space-x-2">
            <input [formControlName]="i" class="w-full my-1 px-4 py-2 border rounded-md" />
            <button type="button" (click)="removeItem('responsibilities', i)" class="px-2 py-1 bg-red-500 text-white rounded">
              <fa-icon class="text-white" [icon]="faRemove"></fa-icon>
            </button>
          </div>
        }
        <button type="button" (click)="addItem('responsibilities')" class="px-4 py-2 mt-2 bg-blue-500 text-white rounded">
          <fa-icon class="text-white" [icon]="faAdd"></fa-icon>
        </button>
      </div>

      <div>
        <label class="block text-gray-700">Application Deadline</label>
        <input type="date" formControlName="applicationDeadline" class="w-full px-4 py-2 border rounded-md" />
        @if (offerForm.get('applicationDeadline')?.invalid && offerForm.get('applicationDeadline')?.touched) {
          <div class="text-sm text-red-500">
            Application deadline is required.
          </div>
        }
      </div>

      <div formGroupName="requirements">
        <label class="block text-gray-700">Job Requirements</label>
        <div class="space-y-4">
          <input
            formControlName="education"
            placeholder="Education"
            class="w-full px-4 py-2 border rounded-md"
            />
          @if (offerForm.get('requirements.education')?.invalid && offerForm.get('requirements.education')?.touched) {
            <div class="text-sm text-red-500">
              An education is required
            </div>
          }
          <input
            formControlName="experience"
            placeholder="Experience"
            class="w-full px-4 py-2 border rounded-md"
            />
          @if (offerForm.get('requirements.experience')?.invalid && offerForm.get('requirements.experience')?.touched) {
            <div class="text-sm text-red-500">
              An experience is required
            </div>
          }
          <div formArrayName="skills">
            <label class="block text-gray-700">Skills</label>
            @for (skill of skills.controls; track skill; let i = $index) {
              <div class="flex items-center space-x-2">
                <input [formControlName]="i" class="w-full my-1 px-4 py-2 border rounded-md" />
                <button type="button" (click)="removeItem('requirements.skills', i)" class="px-2 py-1 bg-red-500 text-white rounded">
                  <fa-icon class="text-white" [icon]="faRemove"></fa-icon>
                </button>
              </div>
            }
            <button type="button" (click)="addItem('requirements.skills')" class="px-4 py-2 mt-2 bg-blue-500 text-white rounded">
              <fa-icon class="text-white" [icon]="faAdd"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Save and Cancel -->
    <div class="flex justify-end mt-6">
      <button type="button" (click)="onClose()" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md mr-4">
        Cancel
      </button>
      <button type="submit"  class="px-4 py-2 bg-blue-500 text-white rounded-md">
        Save Offer
      </button>
    </div>
  </form>
</div>
